@import "../../styles/common";

.menu {
  display: flex;
  position: fixed;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  top: 0;
  left: -301px;
  width: 300px;
  height: 100%;
  background: linear-gradient(45deg, #eeeeee 0%, #dddddd 100%);
  border-top-right-radius: 10px;
  z-index: 10;
  transition: left 0.3s ease-in-out;

  &.open {
    left: 0;
  }
}

.menuButton {
  @include fontDefaults;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  color: white;
  background: linear-gradient(135deg, #1b2735 0%, #090a0f 100%);
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}
