@import "../../styles/common";

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  padding: 20px 50px;
  overflow-y: auto;

  .burger {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;

    > img {
      width: 100%;
      height: 100%;
    }
  }

  .newCardButton {
    @include fontDefaults;
    border: 1px solid rgb(104, 87, 87);
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    border: 1px solid grey;
    background: linear-gradient(135deg, #eeeeee 0%, #bbbbbb 100%);
  }
}
