@import "../../styles/common";

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 60em;
  padding: 5px;
  border-radius: 8px;
  background-color: grey;
  height: fit-content;
  cursor: grab;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > textarea {
      width: calc(100% - 100px);
    }

    .icons {
      > button,
      > img {
        width: 22px;
        height: 22px;
      }

      > button {
        @include stripButton();
        width: 22px;
        height: 22px;

        > img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  > textarea {
    width: 100%;
    overflow: hidden;
  }
}
