@import "./styles/common";

html,
body,
#root,
main {
  @include fontDefaults;
  margin: 0;
  width: 100%;
  height: 100%;
  color: white;
}

textarea {
  @include fontDefaults;
  resize: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: gray;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 4px;
}
